body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    text-align: center;
}

.container {
    position: relative;
    justify-content: center;
    /* display: flex;
    flex-wrap: wrap; */
    height: 300px;
    width: 100%;
    background-color: red;
    margin: 25px;

}

.boxcontainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
   
    justify-content: space-evenly;
    height: 150px;
    width: 150px;
    margin: 15px;
    background-color: blue;
    text-align: center;
    font-size: 25px;
    color: white;
    z-index: 1;
}


.stats {
   background-color: white;
   border: 1px solid black;
   margin: 5px;
   padding: 5px;
   float: right;
   text-align: left;
   height: 150px;
   width: 250px;
   ;
}